---
import BaseHead from '../components/BaseHead.astro';
import HeaderNav from '../components/HeaderNav.astro';
import Footer from '../components/Footer.astro';
import LogoBlur from '../components/LogoBlur.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Pueblos from '../components/Pueblos.svelte';
import Foobar from '../components/Foobar.svelte';
---

<!DOCTYPE html>
<html lang="en" color-mode="user">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<HeaderNav title={SITE_TITLE} />
		<LogoBlur velocidad="15" titulo="游녦 Bientenido a mi nueva p치gina." subtitulo="Aqu칤 encontrar치s mis apuntes y componentes varios."/>
		<main>
			<section>
				<header>
					<h1>Ejercicios Svelte</h1>	
					游늯 Documentaci칩n: <a href="https://micro.cosasdev.comovas.es/svelte/">Micro Cosas Dev</a>
				</header>

					<r-grid columns="8">
						<r-cell span="3">Este bot칩n es un componente Svelte que Astro "rehidrata" cuando la p치gina est치 siendo cargada (client:load). El bot칩n, a su vez, llama e intercambia entre sucesivos componentes Sveltes lo que permitir칤a, por ejemplo, cargar datos como un servicio de router b치sico.
							<br><Foobar client:load/> 
						</r-cell>
						<r-cell span="5..">
						Carga (fetch) un archivo con un JSON inclu칤do en ASTRO como <a href="pueblos.json">endpoint</a> como promesa y la muestra con la directiva #each de Svelte.<br><Pueblos client:load/> </r-cell>
					</r-grid>
			</section>			
		
		</main>
		<Footer />
	</body>
</html>
