---
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
//COMPONENTES ASTRO:
import BaseHead from '../components/BaseHead.astro';
import MvHeaderNav from '../components/MvHeaderNav.astro';
import MvLogoBlur from '../components/MvSectionLogoBlur.astro';
import MvTarjetero from '../components/MvSectionTarjetero.astro';
import MvFooter from '../components/MvFooter.astro';
---
<!-- ARCHIVO TIPO .ASTRO -->

<!DOCTYPE html>
<html lang="es" color-mode="user">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<!-- HEADER NAV:  Panel de navegaci칩n -->
		<MvHeaderNav title={SITE_TITLE} verNanoBoton/>

		<MvLogoBlur velocidad="15" titulo="游녦 Bientenido a mi nueva p치gina." subtitulo="Aqu칤 encontrar치s mis apuntes y componentes varios."/>
		<main>
			<MvTarjetero></MvTarjetero>
			<section>
				<aside>
					<h1>Ejercicios Svelte</h1>	
					游늯 Documentaci칩n:
					<br> Nanostrores <a href="https://docs.astro.build/en/core-concepts/sharing-state/">1</a> <a href="https://github.com/nanostores/nanostores#maps">2</a>
					<br> <a href="https://svelte.dev/docs#template-syntax-if">Svelte</a>
					<br> <a href="https://micro.cosasdev.comovas.es/svelte/">Micro Cosas Dev y sistema de Grid</a>
				</aside>
				<aside>

				</aside>

					<r-grid columns="8">
						<r-cell span="3">Este bot칩n es un componente Svelte que Astro "rehidrata" cuando la p치gina est치 siendo cargada (client:load). El bot칩n, a su vez, llama e intercambia entre sucesivos componentes Sveltes lo que permitir칤a, por ejemplo, cargar datos como un servicio de router b치sico.
							<br>
						</r-cell>
						<r-cell span="5..">
						Carga (fetch) un archivo con un JSON inclu칤do en ASTRO como <a href="pueblos.json">endpoint</a> como promesa y la muestra con la directiva #each de Svelte.<br> </r-cell>
					</r-grid>
			</section>	
		</main>	
			
		
		<MvFooter />
	</body>
</html>
